* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 15%;
    background-color: #2DAFD5;
    margin-top: 5%;
}

.top {
    width: 960px;
    height: 287px;
    background-image: url(splash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 50%;
    color: white;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.types {
    width: 960px;
    height: 300PX;
    display: flex;
    gap: 1.5px;   
}

.colors {
    background-color: #0D79B0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.mix {
    background-color: #0D79B0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.gloves {
    background-color: #0D79B0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.inspire {
    background-color: #0D79B0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.form {
    display: flex;
    width: 965px;
    height: 30px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0D79B0;
}

